body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Global Styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: #222;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  border: 0;
  cursor: pointer;
}

hr.divider {
  border: 0;
  height: 1px;
  background-color: black;
  opacity: .1;
  margin: 6px 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}


/* Navbar Styles */

nav {
  padding: 16px 0;
}

nav div.nav-wrapper {
  display: flex;
  justify-content: space-between;
}

nav div.nav-wrapper .logo {
  font-weight: bold;
  font-size: 30px;
}

nav div.nav-wrapper .list {
  display: flex;
  align-items: center;
}

nav div.nav-wrapper .list li .link {
  /* font-weight: bold; */
  margin: 0 20px;
  font-size: 20px;

}

nav div.nav-wrapper .list li .link:hover {
  color: rgb(255, 60, 60);
  transition: all .2s;
}

nav div.nav-wrapper .list li .link.btn-login {
  background-color: rgb(255, 60, 60);
  padding: 10px 30px;
  border-radius: 20px;
  color: white
}

nav div.nav-wrapper .list li .link.btn-login:hover {
  background-color: rgb(216, 29, 29);
  color: white !important;
}

/* Home Styles */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.home h1.label {
  font-weight: bold;
  font-size: 30px;

}

/* Login Styles */

div.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.login-container .login-card {
  width: 410px;
  background-color: white;
  margin-top: 50px;
  padding: 40px;
  box-shadow: 1px 1px 5px rgb(211, 211, 211);
  border-radius: 10px;
}

div.login-container .login-card h2.head {
  font-weight: bold;
  font-size: 30px;
}

div.login-container div.login-card div.input-container {
  margin-top: 30px;
}

div.login-container div.login-card div.input-container div.input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 22px;
}

div.login-container div.login-card div.input-container div.input-wrapper label.label {
  color: rgb(65, 65, 65);
  margin-bottom: 6px;
  text-transform: capitalize;
}

div.login-container div.login-card div.input-container div.input-wrapper input.input {
  border: solid 1px rgb(226, 226, 226);
  background-color: rgb(245, 245, 245);
  padding: 20px 15px;
  border-radius: 12px;
  font-size: 17px;
}

div.login-container div.login-card div.input-container div.input-wrapper div.input-feedback {
  color: red;
  font-size: 12px;
  margin-top: 5px
}

div.login-container div.login-card form button.form-submit-btn {
  /* bg-sky-400 hover:bg-sky-500 w-full mt-5 py-4 rounded-full font-bold text-lg */
  background-color: rgb(255, 60, 60);
  width: 100%;
  color: white;
  padding: 20px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 10px;


}

div.login-container div.login-card form button.form-submit-btn:hover {
  background-color: rgb(228, 35, 35);
}